.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}


.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 70vw;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.mega-menu .content {
  background: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-items li:hover .mega-menu {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

.header1 {

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1;
}

.header1 a {
  text-decoration: none;
  color: black;
}

.header1 ul {
  list-style: none;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-items li {
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out;
}

.menu-items li:hover {
  background-color: #ff652f;
}

.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}

.content .col .mega-links {
  border-left: 1px solid #1a3246;
}

.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
}

.content .col h2 {
  color: #ff652f;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}

.content .col p {
  line-height: 1.2rem;
}
