*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.landing-container{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-payment {
  padding: 10px;
  align-items: center;
}
.checkout-payment:hover {
  cursor:pointer;
  color: orange;
}
.checkout-success-container {
  width: 500px;
  height: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  margin: auto;
  color: #fff;
  justify-content: center;
  background-image: url("./user/assets/img/hero/checkout-success.png");
  background-repeat: no-repeat;
  background-size: cover;

}